.services-dropdown{
  position: absolute;
  top: full;
  left: 0;
  width: 800px;
}
.services-dropdownGarid{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (max-width:1390px) and (min-width:1200px) {
  .services-dropdown{
    width: 700px;
  }
}
@media (max-width:1199px) and (min-width:1024px) {
  .services-dropdown{
    width: 600px;
  }
}
@media (max-width:1023px) and (min-width:640px) {
  .services-dropdown{
    width: 500px;
    left: -150px;
  }
  .services-dropdownGarid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}