@import "tailwindcss";

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scrollUp {
  animation: scrollUp 15s linear infinite;
}
