@import "tailwindcss";

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-scrollUp {
  animation: scrollUp 15s linear infinite;
}
.clip-hex {
  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 50%,
    75% 100%,
    25% 100%,
    0% 50%
  );
}


/* 
chatbot */
/* Slide Up */
@keyframes slideUp {
  0% { transform: translateY(120%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.slide-up {
  animation: slideUp 0.35s ease-out forwards;
}

/* Slide Down */
@keyframes slideDown {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(120%); opacity: 0; }
}

.slide-down {
  animation: slideDown 0.35s ease-in forwards;
}
